<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2><%= I18n.t('views.products') %></h2>
  <div class="btn-toolbar mb-2 mb-md-0">
    <%= link_to I18n.t('views.new_product'), new_product_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <%= form_with url: products_path, method: :get do |f| %>
      <div class="row mb-3">
        <div class="col-11">
          <%= f.text_field :search, class: 'form-control', placeholder: 'Buscar Produtos' %>
        </div>
        <div class="col-1">
          <%= f.submit I18n.t('views.search'), class: "btn btn-primary align-left" %>
        </div>
      </div>
    <% end %>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to I18n.t('views.all'), products_path, class: "nav-link #{tab_all_class(params[:status])}", "aria-current": "page" %>
      </li>
      <li class="nav-item">
        <%= link_to I18n.t('views.active'), products_path(status: 'active'), class: "nav-link #{tab_active_class(params[:status])}", "aria-current": "page" %>
      </li>
      <li class="nav-item">
        <%= link_to I18n.t('views.draft'), products_path(status: 'draft'), class: "nav-link #{tab_draft_class(params[:status])}", "aria-current": "page" %>
      </li>
    </ul>
    <div class="table-responsive">
      <table class="table align-middle">
        <thead>
          <tr>
            <th class="checkbox-column">
              <input class="form-check-input" type="checkbox" id="check-product-all">
            </th>
            <th class="image-column">
            </th>
            <th>
              <% if params[:field] == 'title' && params[:order] == 'desc' %>
                <%= link_to I18n.t('views.product'), products_path(field: 'title', order: 'asc'), class: 'text-reset text-decoration-none' %>
              <% elsif params[:field] == 'title' && params[:order] == 'asc' %>
                <%= link_to I18n.t('views.product'), products_path(field: 'title', order: 'desc'), class: 'text-reset text-decoration-none' %>
              <% else %>
                <%= link_to I18n.t('views.product'), products_path(field: 'title', order: 'asc'), class: 'text-reset text-decoration-none' %>
              <% end %>
            </th>
            <th>
              <% if params[:field] == 'status' && params[:order] == 'desc' %>
                <%= link_to I18n.t('views.status'), products_path(field: 'status', order: 'asc'), class: 'text-reset text-decoration-none' %>
              <% elsif params[:field] == 'status' && params[:order] == 'asc' %>
                <%= link_to I18n.t('views.status'), products_path(field: 'status', order: 'desc'), class: 'text-reset text-decoration-none' %>
              <% else %>
                <%= link_to I18n.t('views.status'), products_path(field: 'status', order: 'asc'), class: 'text-reset text-decoration-none' %>
              <% end %>
            </th>
            <th>
              <% if params[:field] == 'category' && params[:order] == 'desc' %>
                <%= link_to I18n.t('views.category'), products_path(field: 'category', order: 'asc'), class: 'text-reset text-decoration-none' %>
              <% elsif params[:field] == 'category' && params[:order] == 'asc' %>
                <%= link_to I18n.t('views.category'), products_path(field: 'category', order: 'desc'), class: 'text-reset text-decoration-none' %>
              <% else %>
                <%= link_to I18n.t('views.category'), products_path(field: 'category', order: 'asc'), class: 'text-reset text-decoration-none' %>
              <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td class="checkbox-column"><input class="form-check-input" type="checkbox" id="check-product<%= product.id %>"></td>
              <td class="image-column">
                <% if product.images.present? %>
                  <%= image_tag rails_storage_proxy_path(product.images.first), class: 'img-thumbnail img-fluid image-list' %>
                <% else %>
                  <%= image_tag 'no-image.png', class: 'img-thumbnail img-fluid image-list' %>
                <% end %>
              </td>
              <td><%= product.title %></td>
              <td><span class="<%= status_class(product.status) %>"><%= product_status(product.status) %></span></td>
              <td><%= product.category.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
