<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceEn</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-light">
    <header class="p-3 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap justify-content-start">
          <ul class="navbar-nav">
            <li class="nav-item"><%= link_to I18n.t('views.products'), products_path, class: 'nav-link px-2 text-white' %></li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item"><%= link_to I18n.t('views.categories'), categories_path, class: 'nav-link px-2 text-white' %></li>
          </ul>
        </div>
      </div>
    </header>
    <main class="px-md-4 container">
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
