<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceEn</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="bg-light">
    <header class="p-3 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><%= link_to I18n.t('views.products'), products_path, class: 'nav-link px-2 text-white' %></li>
          </ul>
        </div>
      </div>
    </header>
    <main class="px-md-4">
      <%= yield %>
    </main>
  </body>
</html>
